@charset "utf8";

h1 {
    /*alteração no css para alterar a box-level padrão*/
    background-color: aquamarine;
    height: 200px;
    width: 300px;

    /*padding deve ser colocado para todos os lados seguindo o sentido de top right bottom left
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;*/

    /*shorthand para padding, se todas forem iguais é só 
    colocar um valor, se não colocarmos nenhum valor como parâmetro em algum dos lados o lado oposto vai 
    ter o valor informado*/
    padding: 30px 10px;

    /*margin: auto; coloca centralizado no meio da página
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;*/

    /*shorthand para margin*/
    margin: 30px 10px;

    /*padding: 20px;
    border-width: 20px;
    border-style: groove;
    border-color: darkslategrey;*/

    /*shorthand para border*/
    border: 20 groove darkslategrey;

    /*outline é o espaço entre a margem e a borda
    outline-width: 3px;
    outline-style: dashed;
    outline-color: rgb(174, 0, 255); */

    /*shorthand para outline*/
    outline: 20 groove darkslategrey;
}

/*parâmetro em css para a ancora*/
a {
    border-width: 10px;
    border-style: solid;
    border-color: blueviolet;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
}

img {
    height: 430px;
}