@charset "UTF8";

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font: bold 40px Arial;
  text-align: center;
  text-decoration: underline;
}

h2 {
  font: bold 30px Arial;
}

div#area {
  font: normal 20px Arial;
  background: goldenrod;
  color: white;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

img {
  display: block;
  height: 300px;
  margin: 10px auto;
}
