@charset "UTF-8";

* {
  text-align: justify;
}

h1 {
  text-align: center;
  background-color: rgb(255, 0, 81);
  margin: 30px 100px;
  padding: 15px;
}

h2 {
  text-align: center;
}

p {
  font: normal 18px Arial;
}

p#p1 {
  width: 500px;
}

img {
  margin: auto 7px;
}

input {
  font: normal 20px Arial;
  height: 20px;
}

input#txtvel {
  text-align: right;
  font: normal 20px Arial;
  height: 20px;
}

input.verif {
  font: normal 15px Arial;
  height: 30px;
}
