@charset "utf8";

h1 {
    /*alteração no css para alterar a box-level padrão*/
    background-color: aquamarine;
    height: 200px;
    width: 300px;
    padding: 20px;
    border-width: 20px;
    border-style: groove;
    border-color: darkslategrey;
}

a {
    border-width: 10px;
    border-style: solid;
}

img {
    height: 430px;
}