/*nesse arquivos vamos configurar toda a parte de css do projeto*/
h2 {
  text-align: center;
  color: rgb(0, 149, 255);
}

p {
  text-align: center;
  color: rgb(0, 149, 255);
}

.title {
    background-color: antiquewhite;
    color: brown;
    padding: 15px;
  }
  